[package]
name = "shared"
version = "0.1.0"
edition = "2024"
license = "AGPL-3.0"

[dependencies]
chrono = "0.4.43"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.149"
surrealdb = { version = "3.0.0"}
